<div class="row">
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Rubber Plant</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image src="assets/imgs/img10.jpg" alt="Photo of a Shiba Inu" style="height: 400px;">
      <mat-card-content>
        <p>
          1. India rubber plant (Ficus elastica). The India rubber plant has large, thick, oblong leaves up to 30 cm (12 inches) long and figlike fruits in pairs along the branches. The trunk and stems exude a milky sap, or latex.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Buy</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Lotus</mat-card-title>
       
      </mat-card-header>
      <img mat-card-image src="assets/imgs/img8.jpg" alt="Photo of a Shiba Inu" style="height: 400px;">
      <mat-card-content>
        <p>
          2. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Buy</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div  class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Aloe Vera</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image src="assets/imgs/img9.jpg" alt="Photo of a Shiba Inu" style="height: 400px;">
      <mat-card-content>
        <p>
          3. Aloe vera, sometimes described as a “wonder plant,” is a short-stemmed shrub. Aloe is a genus that contains more than 500 species of flowering succulent plants.Many Aloes occur naturally in North Africa. 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Buy</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>


  </div>

</div>
<router-outlet></router-outlet>


